#calendar_list li:nth-child(n+6){
    display:none;
}

/* イベント登録時のmodalの設定*/ 
#input_event{
    /*入力フォームを左寄せにする*/
    text-align: left;
}

#input_event li{
    list-style: none;
    margin-left: 0;
}

#input_event label{
    width: 119px;
}

#start_input, #end_input{
    margin: 0.5rem;
}

.form-control{
    display: inline;
    width:auto !important;
}

.permission_form li{
    list-style: none;
    margin-bottom: 0.5rem;
}

.permission_form label{
    width: 134px;
}