#create_calendar_button {
    position: absolute;
    bottom: 5rem;
}

#permission_form_area {
    max-height: calc(100vh - 16rem);
    overflow-y: scroll;
    overflow-x: hidden;
    /*スクリールバー非表示の設定*/
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}

#permission_form_area::-webkit-scrollbar {
    display: none;
}
