{% extends "account/base.html" %}
{% load account socialaccount %}
{% block head_title %}
  ログイン
{% endblock head_title %}
{% block content %}
  <div class="flex-grow-1 bg-body-secondary d-flex flex-column justify-content-center">
    <div class="flex-grow-0 flex-shrink-0 container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-4">
          <div class="bg-white shadow rounded-4">
            <div class="p-5">
              <h1 class="fw-bold fs-2">ログイン</h1>
              <p>
                アカウントをまだお持ちでなければ、 <a href="{{ 'account_signup' }}">こちらからユーザー登録</a> してください。
              </p>
              {#TODO: ログイン失敗時の処理をここに記述する#}
              <form class="login" method="POST" action="{% url 'account_login' %} ">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-floating mb-3">
                    <input required
                           name="login"
                           placeholder="メールアドレス"
                           class="form-control rounded-3"
                           id="id_login"
                           autocomplete="email"
                           type="email">
                    <label class="" for="id_login">メールアドレス</label>
                    <div class="form-text"></div>
                  </div>
                  <div class="form-floating mb-3">
                    <input required
                           name="password"
                           placeholder="パスワード"
                           class="form-control rounded-3"
                           id="id_password"
                           autocomplete="password"
                           type="password">
                    <label class="" for="id_password">パスワード</label>
                    <div class="form-text">
                      <a href="{% url 'account_reset_password' %}">パスワードをお忘れですか？</a>
                    </div>
                  </div>
                  <div class="form-check mb-3">
                    <input name="remember"
                           class="form-check-input"
                           id="id_remember"
                           type="checkbox">
                    <label for="{{ form.remember.id_for_label }}">{{ form.remember.label }}</label>
                  </div>
                </div>
                <div class="card-fotter">
                  <button class="btn btn-primary w-100" type="submit">ログイン</button>
                </div>
                {% comment %}
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                {% endcomment %}
              </form>
            </div>
            {% comment %}
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
              <p>
                {% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}
              </p>
              <div class="socialaccount_ballot">
                <ul class="socialaccount_providers">
                  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
                <div class="login-or">{% trans 'or' %}</div>
              </div>
              {% include "socialaccount/snippets/login_extra.html" %}
            {% else %}
              <p>
                {% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
              </p>
            {% endif %}
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
