{% extends "common/base.html" %}
{% load static %}
{% block page_title %}カレンダー{{ calendar.name }}{% endblock %}
{% block extra_head %}
  <!-- fullcalendar -->
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1/index.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/locales-all.global.min.js"></script>
  <!-- <script src="{% static 'schedule/js/custom_view.js' %}" type="module"></script> -->
  <script src="{% static 'schedule/js/script.js' %}"></script>
  <!-- flatpckr -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <!--日本語化用JS-->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
  <!--cokkiejs-->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <!-- fontawesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <!-- js -->
  <script src="{% static 'schedule/js/permission/common.js' %}"></script>
  <script src="{% static 'schedule/js/permission/add.js' %}"></script>
  <script src="{% static 'schedule/js/permission/edit.js' %}"></script>
  <script src="{% static 'schedule/js/interlock_view.js' %}"></script>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'schedule/css/calendar.css' %}">
  <script>
    //　特殊文字("<",">","'",etc...)をエスケープしないための処理
    {% autoescape off %}
      let events                          = {{ events }}
      let events_cancel                   = {{ events_cancel }}
      let edit_event                      = "{% url 'schedule:calendar' 0%}"
      let delete_url                      = "{% url 'schedule:delete_event' 0%}"
      let event_repeat_cancel_url         = "{% url 'schedule:event_repeat_cancel' 0%}"
      let event_repeat_cancel_delete_url  = "{% url 'schedule:event_repeat_cancel_delete' 0%}"
    {% endautoescape %} 
  </script>
{% endblock %}
{% block header %}
  {# {% include "common/base.html" %}#}
  {% include 'schedule/permission/edit.html' %}
{% endblock %}
{% block main %}
  <div class="container-fluid">
    <div class="row mt-3">
      <!-- カレンダー -->
      <div class="col-lg-6 col-md-12 mb-3">
        <div class="p-3 d-flex flex-grow-1" id='calendar'></div>
      </div>
      <!-- 予定一覧・キャンセルリスト・削除ボタン-->
      <div class="col-lg-3 col-md-6 p-3 mb-3">
        <h5 class="text-center">予定一覧</h5>
        <div class="p-2" id='event_list_calendar'></div>
        <h5 class="text-center">キャンセルリスト</h5>
        <div class="p-2" id='event_cancel_calendar'></div>
        <form action="{% url 'schedule:delete_calendar' calendar.id %}"
              method="POST">
          {% csrf_token %}
          <button class="btn btn-danger mt-auto w-100" type="submit">このカレンダーを削除する</button>
        </form>
      </div>
      <!-- チャット機能 -->
      <div class="col-lg-3 col-md-6 p-3 mb-3">
        <h5 class="text-center">チャット</h5>
        {# TODO:contextprocessorを使って、ユーザーのアクセス権をコンテキストに与え、↓をif文で表示・非表示 ? #}
        <form action="{% url 'schedule:calendar_message' calendar.id %}"
              method="POST">
          {% csrf_token %}
          <textarea class="form-control" name="content"></textarea>
          <button class="btn btn-primary mb-2 w-100" type="submit">投稿</button>
        </form>
        <div class="chat_container overflow-auto" style="height:300px">
          {% for message in calendar_messages %}
            <div class="border">
              <div>{{ message.user }} : {{ message.dt }}</div>
              <div>{{ message.content|linebreaksbr }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- 書き込み権限がある場合modalを表示する -->
    {% if write %}
      {% include "schedule/event_register.html" %}
    {% endif %}
    {% include "schedule/permission/form.html" %}
  {% endblock %}
