<div id="message_{{ message.id }}" class="message border">
    {{ message.user }} : {{ message.dt }}
    <button class="btn settings_button" data-id="{{ message.id }}">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <div class="settings_menu"
         data-id="{{ message.id }}"
         style="display: none">
        <ul class="list-unstyled border">
            {# チャットの削除・編集ボタンを入れる #}
            {# アンカー属性でformをpostする方法 => onclick="document.formの名前.submit() #}
            <li>
                <a href="#"
                   class="delete_link"
                   data-id="{{ message.id }}"
                   onclick="document.delete_message_{{ message.id }}.submit()">削除</a>
            </li>
            <li>
                <a href="#"
                   class="update_link"
                   data-id="{{ message.id }}"
                   onclick="document.update_message_{{ message.id }}">編集</a>
            </li>
        </ul>
    </div>
    <p class="message_content">{{ message.content|linebreaksbr }}</p>
    <form class="update_form" data-id="{{ message.id }}" style="display: none;">
        {% csrf_token %}
        <input type="text" name="content" value="{{ message.content }}">
        <button class="btn" type="submit">保存</button>
    </form>
    <form name="delete_message_{{ message.id }}"
          action="{% url 'schedule:delete_message' message.id %}"
          method="POST"
          class="d-none">
        {% csrf_token %}
        <input type="submit" value="削除">
    </form>
</div>
