{% extends "common/base.html"%}
{% load static %}
{% load i18n %}
{% block page_title %}
カレンダーアプリ
{% endblock %}

{% block extra_head %}
{% endblock  %}
{% block extra_navbar %}
    <form class="login me-2" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn nav_btn me-2 primaryAction" type="submit">Sign In</button>
    </form>
    <form class="signup me-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn nav_btn" type="submit">Sign Up</button>
    </form>      
{% endblock %}

{% block main %}

{% endblock %}