{% extends "common/base.html"%}
{% load static %}
{% load i18n %}
{% block page_title %}
最初のページ
{% endblock %}

{% block extra_head %}
{% endblock  %}
{% block extra_navbar %}
<li class="nav-item">
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-dark primaryAction" type="submit">Sign In</button>
    </form>
</li>
<li class="nav-item">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-dark" type="submit">Sign Up</button>
    </form>      
</li>
{% endblock %}

{% block main %}

{% endblock %}