{% comment %}
    アクセス権フォームの雛形
    display:noneで非表示にしておく
{% endcomment %}
    <div id="permission_form_init_area" style="display:none;">
        <ul class="permission_form mb-2 text-bg-dark">
            <li class="email">
                <label>対象ユーザーのEmail:</label>
                <input hidden name="id">
                <input type="text" name="email">
            </li>
            <li class="authority">
                <label>権限</label>
                <select>
                    <option value="none">選択してください</option>
                    <option value="3">編集者</option>
                    <option value="0">閲覧者</option>
                    <option value="1">編集者（チャット禁止）</option>
                    <option value="2">閲覧者（書き込み禁止）</option>
                </select>
                <input type="hidden" name="authority" value="1">
                <input type="checkbox" style="display:none;" name="read" value="1">
                <input type="checkbox" style="display:none;" name="write" value="1">
                <input type="checkbox" style="display:none;" name="chat" value="1">
            </li>
            <input type="button" class="btn btn-danger" name="delete_btn" value="削除">
        </ul>
    </div>