  <!--モーダルダイアログの記述-->
  <!-- Button trigger modal -->
  <button id="calendar_permission" class="btn btn-outline-light me-3" data-bs-toggle="modal" data-bs-target="#permissionBackdrop">
        <i class="fa-solid fa-user-group me-2"></i>共有
    </ul>

  </button>
  <div class="modal" id="permissionBackdrop" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">共有設定</h5>
          <!-- modal終了のボタン -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{%url 'schedule:calendar_permission' calendar.id %}" name="calendar_permission" method="post" id="permission_edit">
            {% csrf_token %}
            <div id="permission_form_edit_area">
              <input id="permission_form_edit_add" class="mb-2" type="button" value="共有するユーザーの追加">
              {% for permission in permissions %}
                <div class="permission_form mb-2">
                    <label>対象ユーザーのEmail:</label>
                    <input type="hidden" name="id" value="{{ permission.id }}">
                    <input type="text" name="email" value="{{ permission.user.email}}" readonly>
                    <select>
                        <option value="3" {%if permission.select == 3 %} selected {% endif %}>編集者</option>
                        <option value="0" {%if permission.select == 0 %} selected {% endif %}>閲覧者</option>
                        <option value="1" {%if permission.select == 1 %} selected {% endif %}>編集者（チャット禁止）</option>
                        <option value="2" {%if permission.select == 2 %} selected {% endif %}>閲覧者（書き込み禁止）</option>
                    </select>
                    <input type="hidden" name="authority" value="{{ forloop.counter }}">
                    <input type="checkbox" style="display:none;" name="read" value="{{ forloop.counter }}" {% if permission.read  %}checked{% endif %}>
                    <input type="checkbox" style="display:none;" name="write" value="{{ forloop.counter }}" {% if permission.write %}checked{% endif %}>
                    <input type="checkbox" style="display:none;" name="chat" value="{{ forloop.counter }}" {% if permission.chat  %}checked{% endif %}>
                    {% if user == calendar.user %}
                      <input type="button" class="btn btn-danger" name="delete_btn" value="削除">
                    {% endif %}
                </div>
              {% endfor %}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" form="permission_edit">保存</button>
        </div>
      </div>
    </div>
  </div>