{% extends 'common/base.html' %}

{% block page_title%}
イベント登録フォーム
{% endblock %}

{% block main %}
<!-- イベントの詳細情報を入力するフォーム -->
<form action="" name="event" method="post">
    {% csrf_token %}
    <label for="startdate">開始日</label>
    <input type="date" name="start" value={{ event_date }}>
    <label for="enddate">終了日</label>
    <input type="date" name="end" value={{ event_date }}>
    <label for="content">イベントの内容</label>
    <input type="text" name="title" placeholder="イベントの内容">
    <!-- 
    <label for="repeat">繰り返しの頻度</label>
    <input type="text" name="repeat">
    <label for="stop">繰り返しの終了日</label>
    <input type="date" name="stop" >
-->
    <input type="submit" value="保存">
</form>
{% endblock %}