html {
    font-family: sans-serif;
    text-size-adjust: 100%;
    height: 100%;
}

body{
    margin:0;
    height:100%
}

main {
    position: relative;
    height: 100%;
}

#calendar_list{
    height: 177px;
    overflow-y: scroll;
}
