* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    text-size-adjust: 100%;
}

.navbar .nav_btn {
    color: white;
    outline: white ridge 1px;
}

.navbar .nav_btn:hover{
    color: black;
    background-color: white;
}