<div id="permission_form_init_area" style="display:none;">
    <div class="row mb-2">
        <div class="col-4 d-flex justify-content-center">
            <input hidden name="id">
            <input class="form-control text-center" type="text" placeholder="メールアドレス" name="email">
        </div>
        <div class="col-4 d-flex justify-content-center authorities">
            <select class="form-select text-center">
                <option value="none">選択してください</option>
                <option value="3">編集者</option>
                <option value="0">閲覧者</option>
                <option value="1">編集者（チャット禁止）</option>
                <option value="2">閲覧者（書き込み禁止）</option>
            </select>
            <input type="hidden" name="authority" value="1">
            <input type="checkbox" style="display:none;" name="read" value="1">
            <input type="checkbox" style="display:none;" name="write" value="1">
            <input type="checkbox" style="display:none;" name="chat" value="1">
        </div>
        <div class="col-4 d-flex justify-content-center">
            <input type="button" class="btn btn-danger" name="delete_btn" value="削除">
        </div>
    </div>
</div>
