{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ja"d>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'common/css/common.css' %}">
    {% block extra_head %}
    {% endblock  %}
    <!-- js -->
    <script src="{% static 'common/js/sidebar.js' %}"></script>
</head>
<body>
    <header>
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }} alert-dismissible" {% endif %}% >
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <nav class="navbar bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <!--ハンバーガー メニューでサイドバーを操作する -->
                <div class="navbar-brand">
                    <label class="sidebar_label" for="sidebar_chk">
                        <i class="fa fa-bars"></i>
                    </label>
                    スケジュールアプリ
                </div>
                {%block header %}
                {% endblock %} 
            </div>
        </nav>
    </header>
    <main> 
        <input id="sidebar_chk" class="sidebar_chk" type="checkbox">
        <div class="sidebar_area p-3 text-bg-dark">
            <div class="sidear_content d-flex flex-column">
                <hr style="height:2px; background-color:white;">
                <ul class="nav nav-pills flex-column mb-auto">
                    {% block extra_navbar %}
                    {% endblock %}  
                </ul>
                <hr style="height:2px; background-color:white;">
                {% block dropdown_menu %}
                {% endblock %}
            </div>
        </div>
        <div class="calendar_area">
            <label class="sidebar_outlabel" for="sidebar_chk"></label>      
            {% block main %}
            {% endblock %}
        </div>
    </main>            
</body>
</html>     