{% load i18n %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Schedule-manager</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarText"
                aria-controls="navbarText"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active"
                       aria-current="page"
                       href="{% if user.is_authenticated %}/{% else %}{% url 'account_login' %}{% endif %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">calendars</a>
                        <ul id="calendar_list" class="dropdown-menu list-unstyled">
                            {% for calendar in calendars %}
                                <li>
                                    <a class="dropdown-item text-white"
                                       href="{% url 'schedule:calendar' calendar.id %}">{{ calendar.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <div class="d-lg-flex gap-2 col-lg-3 justify-content-lg-end text-nowrap">
                {% if user.is_authenticated %}
                    {% if calendar %}
                        {% include "schedule/permission/edit.html" %}
                    {% endif %}
                    {% include "schedule/create_calendar_button.html" %}
                    {% url 'account_email' as email_url %}
                    {% url 'socialaccount_connections' as socialaccount_url %}
                    {% if email_url or socialaccount_url %}
                        <a href="{% if email_url %}{{ email_url }}{% else %}{{ socialaccount_url }}{% endif %}"
                           class="btn btn-secondary">{% translate "Manage Account" %}</a>
                    {% endif %}
                    <a href="{% url 'account_logout' %}" class="btn btn-danger">{% translate "Sign Out" %}</a>
                {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-outline-light">{% translate "Sign In" %}</a>
                    {% url 'account_signup' as signup_url %}
                    {% if signup_url %}
                        <a href="{{ signup_url }}" class="btn btn-success">{% translate "Sign Up" %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>
