  <!--モーダルダイアログの記述-->
  <!-- Button trigger modal -->
  <button type="button" id="register" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="fa-solid fa-user-group mx-2"></i>共有
    </ul>

  </button>
  <div class="modal" id="staticBackdrop" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">共有設定</h5>
          <!-- modal終了のボタン -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" name="edit_permission" method="post" id="edit_permission">
            {% csrf_token %}
            <div id="permission_form_init_area">
                <div>
                    <label>対象ユーザーのEmail:</label>
                    <input type="text" name="email">
                    <input type="checkbox" name="read">
                    <input type="checkbox" name="write">
                    <input type="checkbox" name="chat">
                </div>    
            </div>
          </form>
        </div>
        <div class="modal-footer">
               <button type="submit" class="btn btn-primary" form="edit_permission">保存</button>
               <form action="" name="delete_event" method="post">
                {% csrf_token %}
                <input type="submit" value="削除">
               </form>
        </div>
      </div>
    </div>
  </div>