{% comment %}
    アクセス権フォームの雛形
    display:noneで非表示にしておく
    {% endcomment %}
    <div id="permission_form_init_area" style="display:none;">
        <div>
            <label>対象ユーザーのEmail:</label>
            <input type="text" name="email">
            <select name="authority">
                <option value="none">選択してください</option>
                <option value="all">編集者</option>
                <option value="readonly">閲覧者</option>
                <option value="read and write">編集者（チャット禁止）</option>
                <option value="read and chat">閲覧者（書き込み禁止）</option>
            </select>
        </div>    
    </div>