{% comment %}
    アクセス権フォームの雛形
    display:noneで非表示にしておく
    {% endcomment %}
    <div id="permission_form_init_area" style="display:none;">
        <div>
            <label>対象ユーザーのEmail:</label>
            <input type="text" name="email">
            <select name="authority">
                <option value="all">閲覧・書き込み・チャット</option>
                <option value="readonly">閲覧のみ</option>
                <option value="read and write">閲覧＋書き込み</option>
                <option value="read and chat">閲覧＋チャット</option>
            </select>
        </div>    
    </div>