{% extends "common/base.html"%}
{% load i18n %}
{% load static %}
{% block page_title %}
{{ user.username }}
{% endblock %}

{% block extra_head %}
<script src="{% static 'users/js/add_permission.js' %}"></script>
<script> 
    //　特殊文字("<",">","'",etc...)をエスケープしないための処理
    {% autoescape off %}
      let edit_permission = "{% url 'schedule:calendar_permission' 0%}"
    {% endautoescape %} 
</script>
{% endblock  %}

{% block extra_navbar %}
    <li class="nav-item mb-2">
        {% for calendar in calendars %}
        <div class="d-flex justify-content-center">
            <a class="text-white" href="{% url 'schedule:calendar' calendar.id %}">{{ calendar.name }}</a>
        </div>
        {% endfor %}  
    </li>
    <li class="nav-item mb-2" >
        <div class="d-flex justify-content-center">
            <button type="button" id="create" class="btn text-white" data-bs-toggle="modal" data-bs-target="#createcalendarBackdrop">
                カレンダー新規作成
            </button>
            <div class="modal" id="createcalendarBackdrop" data-bs-backdrop="static" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">新規作成フォーム</h5>
                    <!-- modal終了のボタン -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="" method="post" id="create_calendar">
                        {% csrf_token %}
                        <input class="mb-2" type="text" name="name" placeholder="カレンダー名">
                    
                        {# TODO: メールアドレスを指定、ユーザーを選び、そのユーザーに対する権限を指定する。#} 
                        
                        {% comment %}
                        ユーザーの指定方法1: Ajaxを使ってメールアドレスを入力、サーバー側にユーザー検索をしてもらい、ヒットしたユーザーを選択する。(難しい)
                        ユーザーの指定方法2: メールアドレスを入力。カレンダー作成のフォームを投稿する。ビュー側でメールアドレスを元にuserを指定する。
                        {% endcomment %}
                    
                        {# TODO:この一人分の権限のフォームはJavaScriptで増やせるようにする。 #} 
                        <div id="permission_form_area">
                            <input class="btn btn-info" id="permission_form_add" type="button" value="権限追加">
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                         <button type="submit" class="btn btn-primary" form="create_calendar">新規作成</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <form class="nav-link active d-flex justify-content-center mb-2 logout" method="post" action="{% url 'account_logout' %}" aria-current="page">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn nav_btn text-white" type="submit">Sign Out</button>
        </form>
    </li>
{% endblock %}



{% block main %}

{% include 'users/permission_form.html' %}


{% endblock %}